*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.continer{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: rgb(4, 2, 54);
    color: white;
}
.navbar__esas{
    display: flex;
    justify-content: space-around;
    padding: 28px 0;
}
.navbar_lists {
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 24px;
}


.portfolio{
    width: 100%;
    height: 500px;
    background-color: darkgreen;
    text-align: center;
    padding: 90px;
}
.portfolio_esas > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.portfolio_esas > h1,i,p{
    margin: 10px;
    color: white;
}
.portfolio_esas > p{
    font-size: 24px;
}
.portfolio_esas > h1{
    font-size: 50px;
}
.icon_xett {
    font-size: 22px;
}


.xett{
    width: 65px;
    height: 3px;
    background-color: white;
}


.icon_xett{
    display: flex;
    justify-content: center;
    align-items: center;
}



.Portfolio_iki{
    width: 100%;
    text-align: center;
    padding-top: 0px;
}
.Portfolio_iki_esas > h2{
    font-size: 50px;
    margin-top: 60px;
}
.Portfolio_iki_esas{
    width: 100%;
    margin: 0 auto;
}
.icon_xett_iki  i{
    color: rgb(44, 62, 80);
}
.icon_xett_iki > div{
    background-color: rgb(44, 62, 80);
}

.Portfolio_uc_esas{
    width: 100%;
    padding: 35px;
}
.Portfolio_uc_esas_1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 15px;
}
.Portfolio_uc_esas_1 > div{
    width: 350px;
}
.Portfolio_uc_esas_1 img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.About{
    width: 100%;
    height: 600px;
    background-color: rgb(26, 188, 156);
    text-align: center;
    padding: 50px;

}
.icon_xett_uc > div{
    background-color: white;
}
.icon_xett_uc > i{
    color:white;
}
.About_esas > h2{
    font-size: 50px;
    color: white;
}
.About_yazi{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.About_yazi_1{
    width: 400px;
    text-align: left;
    font-size: 26px;
}
.continer > button{
    padding: 15px;
    background-color: rgb(26, 188, 156);
    border: 1px solid white;
    border-radius: 10px;
    font-size: 24px;
    color: white;
}
.continer >button:hover{
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 24px;
    color: black;
}
.continer > i:hover{
    color: black !important;

}


.contact{
    width: 100%;
    text-align: center;
}
.contact_1 > form > input,textarea{
     display: block;
     border: 0;
     border-bottom: 1px solid black;
     padding: 20px;
     margin: 15px auto;
     width: 40%;

}
..contact_1 > button{
    padding: 15px;
}


